html, body { 
    overflow-x: hidden; 
}

body {
    font-family: "Railway", sans-serif;
}

/*------- navbar ---------------*/
.mynavbar {
    background-color: gray;
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.logo {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

/*------- callout -----------*/

.container-callout {
    height: 100vh;
    background: url("../../assets/background1.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.title2 {
    margin: 10px 350px 15px 350px;
    display: block;
    color: white;
}
