html, body { 
    overflow-x: hidden; 
}

body {
    font-family: "Railway", sans-serif;
}

/*------- navbar ---------------*/

.navbar {
    background:  #B7B7B7;
}

.logo {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
