html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Railway", sans-serif;
    margin: 0;
    padding: 0;
}


/*------- navbar ---------------*/

.home {
    color: white;
    font-size: large;
    margin: 15px 15px 15px 15px;
}

.mynavbar {
    background-image: linear-gradient(to bottom right, #000B9F, #0011FF);
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;

}
/* ------- reset & go up btns -----------*/

.resetbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #FFF924; 
    bottom: 20px;
    right: 20px;
    z-index: +1;
    text-decoration: none;
    text-align: center;
    line-height: 50;
    color: white;
    font-size: 22px;
    border-radius: 10px;
}

.go-up-btn {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 15px 15px;
}

.text-rotate .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}


/*------- callout -----------*/

.container-callout {
    height: 100vh;
    background: url("../../assets/background1.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.container-callout2 {
    height: 100vh;
    background: url("../../assets/blue-2806_1920.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.title1 {
    color: white;
    text-transform: uppercase;

}

.title2 {
    font-size: medium;
    text-transform: uppercase;
    margin: 10px 50px 15px 50px;
    display: block;
    color: white;
}

.title3 {
    font-size: medium;
    font-style: italic;
    margin: 10px 50px 15px 50px;
    display: block;
    color: white;
}
/*---------- intro ----------*/

.container-callout-2 {
    height: 50vh;
    margin-bottom: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.devider {
    color: blue;
    font-size: large;
    margin: 10px;
}

.text2 {
    color: gray;
}

/* ----------- charts cointainers --------*/

.chart1 {
    display: block;
    margin: 15px 10px 100px 10px;
}

.chart3 {
    display: block;
    margin: 5px 10px 5px 10px;
}

.card-styling {
    background-color: #F0F0F0;
    border-radius: 35px 0px 0px 35px;

}

.card-stylingl {
    background-color: #F0F0F0;
    border-radius: 0px 35px 35px 0px;
    
}

.card-styling-3 {
    background-color: #F0F0F0;
    border-radius: 35px 35px 35px 35px;
    margin: 5px 20px 5px 20px;
}

.selecter-in {
     margin: 20px 20px 20px 20px;
}

.charts-r {
    margin: 20px 20px 20px 100px;
    align-items: center;
}

.charts-l {
    margin: 20px 20px 20px 100px;
    align-items: center;
}

.about-charts {
    text-align: center;
    padding: 0px 40px 0px 40px;
    font-size: medium;
}

.about-charts-img {
    height: 100px;
    margin: 40px 0px 20px 0px;
}

/* ---------- footer ---------*/

.footer {
    background-image: linear-gradient(to bottom right, #0011FF, #000B9F);
    min-height: 150px;
    width: 100%;
    color: white;
    position: relative;
}

.author {
    font-size: large;
    padding: 20px 40px 0px 20px;
}

.stay-connected {
    font-size: large;
    padding: 5px 40px 0px 20px;
}

.fa-instagram {
    font-size: large;
}